{% extends 'base.html' %}
{% block section %}
    <div class="page-header">
      <h1>Sigup</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">Go!</button>
            </form>
        </div>
        {% if message %}
            <div class="row">
                <div class="col-xs-12 col-md-4 col-sm-3">
                    <span class="label label-danger">{{ message }}</span>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}