{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Wordplease</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'posts_list' %}">Home</a></li>
                    <li><a href="{% url 'blogs_list' %}">Blogs List</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'blog_detail' user.username %}">My blog</a></li>
                        <li><a href="{% url 'new_post' %}">New Post</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"> SignUp</a></li>
                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div id="main" class="container">
        <div class="col-xs-12">
            <section>{% block section %}{% endblock %}</section>
        </div>
    </div>

    <footer class="text-center">
        <div class="container">
            <div class="col-xs-12">
                <hr>
                <small>Wordplease &copy; {% now "Y" %}</small>
            </div>
        </div>
    </footer>

</body>
</html>